<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://use.typekit.net/ebn4qfz.css" />
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        {{ if favicon:favicon_image }}
            {{ favicon:favicon_image }}
                <link rel="icon" type="image" href="{{ url }}" />
            {{ /favicon:favicon_image }}

        {{ else }}
            <link rel="icon" type="image" href="https://gccamedia.s3.amazonaws.com/gcca-letters-square.webp">
        {{ /if }}
        
        {{ if custom_scripts:header_scripts }}
            {{ custom_scripts:header_scripts }}
        {{ /if }}
    </head>
    <body class="">
        {{ partial:partials/header }}

        <main class="main-content">{{ template_content }}</main>

        {{ partial:partials/footer }}
        
        {{ if custom_scripts:footer_scripts }}
            {{ custom_scripts:footer_scripts }}
        {{ /if }}
    </body>
</html>
