<script setup>
    const navigation = {
        joinus: [
            { name: "Careers", href: "#" },
            { name: "Internships", href: "#" },
        ],
        about: [
            { name: "Our Purpose", href: "#" },
            { name: "Our People", href: "#" },
            { name: "News", href: "#" },
            { name: "Blog", href: "#" },
        ],
        visit: [
            { name: "Exhibitions", href: "#" },
            { name: "Group Tours", href: "#" },
            { name: "Need to Know", href: "#" },
            { name: "Accessibility", href: "#" },
        ],
        education: [
            { name: "Art School", href: "#" },
            { name: "Summer Art Camp", href: "#" },
            { name: "Community Engagement", href: "#" },
            { name: "Instructor Proposals", href: "#" },
            { name: "Scholarships", href: "#" },
        ],
        events: [
            { name: "Annual Showcase", href: "#" },
            { name: "Color Gala", href: "#" },
            { name: "First Friday", href: "#" },
            { name: "ARTalk", href: "#" },
            { name: "Calendar", href: "#" },
            { name: "Host Your Event", href: "#" },
        ],
        artists: [
            { name: "Artist Membership", href: "#" },
            { name: "Studio Artists", href: "#" },
            { name: "Brandon Fellowship", href: "#" },
            { name: "Exhibition Proposals", href: "#" },
            { name: "Gift Shop Proposals", href: "#" },
            { name: "The Art of Business", href: "#" },
            { name: "Resources for Artists", href: "#" },
        ],
        support: [
            { name: "Ways to Give", href: "#" },
            { name: "Monthly Giving", href: "#" },
            { name: "Sponsorship", href: "#" },
            { name: "Planned Giving", href: "#" },
            { name: "Volunteer", href: "#" },
            { name: "Annual Report", href: "#" },
        ],
        contact: [
            { name: "Contact Us", href: "#" },
            { name: "FAQs", href: "#" },
            { name: "Policies", href: "#" },
        ],
    };
</script>

<div
    class="bg-gray-100 py-16 sm:py-24 lg:py-24 relative border-t border-gray-200"
>
    <div
        class="mx-auto grid max-w-7xl grid-cols-1 gap-10 px-6 lg:grid-cols-12 lg:gap-8 lg:px-8"
    >
        <div class="max-w-xl lg:col-span-7">
            <h2
                class="text-dark-blue font-semibold text-3xl font-serif sm:text-4xl"
            >
                Be the first to know about art classes & workshops, exhibitions,
                events, news, and artist opportunities.
            </h2>
            <p class="font-light mt-4 max-w-lg">
                Sign up for the GCCA newsletter to keep updated with all the
                wonderful things we have going on.
            </p>
        </div>
        <form class="w-full max-w-md lg:col-span-5 lg:pt-2">
            <div class="flex flex-col gap-x-4">
                <div class="md:grid md:grid-cols-2 md:gap-4 md:mb-4">
                    <div class="">
                        <label
                            for="first-name"
                            class="block text-sm/6 font-medium text-gray-900"
                            >First name</label
                        >
                        <div class="mt-2">
                            <input
                                type="text"
                                name="first-name"
                                id="first-name"
                                autocomplete="given-name"
                                class="block w-full rounded bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-gray-blue sm:text-sm/6"
                            />
                        </div>
                    </div>

                    <div class="">
                        <label
                            for="last-name"
                            class="block text-sm/6 font-medium text-gray-900"
                            >Last name</label
                        >
                        <div class="mt-2">
                            <input
                                type="text"
                                name="last-name"
                                id="last-name"
                                autocomplete="family-name"
                                class="block w-full rounded bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-gray-blue sm:text-sm/6"
                            />
                        </div>
                    </div>
                </div>

                <div class="sm:col-span-4">
                    <label
                        for="email"
                        class="block text-sm/6 font-medium text-gray-900"
                        >Email address</label
                    >
                    <div class="mt-2">
                        <input
                            id="email"
                            name="email"
                            type="email"
                            autocomplete="email"
                            class="block w-full rounded bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-gray-blue sm:text-sm/6"
                        />
                    </div>
                </div>
                <button
                    type="submit"
                    class="mt-4 flex-none rounded bg-gray-blue px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-blue focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-blue"
                >
                    Subscribe
                </button>
            </div>
        </form>
    </div>
</div>

<section
    class="pre-footer border-t border-gray-200 md:px-[5vw] bg-white relative"
>
    <div class="grid md:grid-cols-3 gap-8 md:divide-x divide-gray-200">
        <div class="py-8 md:p-12 md:pl-0 space-y-4 text-center md:text-left">
            <h3 class="text-dark-blue font-semibold text-3xl font-serif">
                Visit Us
            </h3>
            <p class="text-dark-blue text-xl">
                101 Abney Street,<br />Greenville, SC 29611
            </p>
        </div>
        <div class="py-8 md:p-12 space-y-4 text-center">
            <h3 class="text-dark-blue font-semibold text-3xl font-serif">
                Gallery Hours
            </h3>
            <p class="text-dark-blue text-xl">
                Tuesday – Friday 9 am – 5 pm<br />
                Saturday 11 am – 3 pm
            </p>
        </div>
        <div class="py-8 md:p-12 md:pr-0 space-y-4 text-center md:text-right">
            <h3 class="text-dark-blue font-semibold text-3xl font-serif">
                Get in Touch
            </h3>
            <p class="text-dark-blue text-xl">
                (864) 735-3948<br />
                info@artcentergreenville.org
            </p>
        </div>
    </div>
</section>

<footer class="bg-dark-blue relative pb-24 md:px-[5vw]">
    <div class="mx-auto pt-16 pb-8 sm:pt-24 lg:pt-32">
        <div class="lg:grid lg:grid-cols-3 lg:gap-8 px-4 md:px-0">
            <div>
                <TheLogo logotextcolor="text-white" class="h-auto w-[80%]" />

                <div class="pt-16">
                    <div class="">
                        <h3 class="text-xl text-white">Join Our Team</h3>
                        <ul role="list" class="mt-4 space-y-4">
                            {{ nav:footer_join_our_team }}
                            <li>
                                <a
                                    href="{{ url }}"
                                    class="text-gray-400 hover:text-white"
                                    >{{ title }}</a
                                >
                            </li>
                            {{ /nav:footer_join_our_team }}
                        </ul>
                    </div>

                    <div class="pt-12">
                        <h3 class="text-xl text-white">Contacts + More</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            {{ nav:footer_contacts_more}}
                            <li>
                                <a
                                    href="{{ url }}"
                                    class="text-gray-400 hover:text-white"
                                    >{{ title }}</a
                                >
                            </li>
                            {{ /nav:footer_contacts_more}}
                        </ul>
                    </div>
                </div>

                <!-- <div class="mt-8 border-t border-b border-white/10 pt-8 pb-8">
                <div>
                  <h3 class="text-sm/6 font-semibold text-white">
                    Subscribe to our newsletter
                  </h3>
                  <p class="mt-2 text-sm/6 text-gray-300">
                    The latest news, articles, and resources, sent to your inbox
                    weekly.
                  </p>
                </div>
                <form class="pt-6 sm:flex sm:max-w-md lg:mt-0">
                  <label for="email-address" class="sr-only">Email address</label>
                  <input
                    type="email"
                    name="email-address"
                    id="email-address"
                    autocomplete="email"
                    required=""
                    class="w-full min-w-0 rounded bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-gcca-red sm:w-56 sm:text-sm/6"
                    placeholder="Enter your email"
                  />
                  <div class="mt-4 sm:mt-0 sm:ml-4 sm:shrink-0">
                    <button
                      type="submit"
                      class="flex w-full items-center justify-center rounded bg-gcca-red px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-gcca-red focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gcca-red"
                    >
                      Subscribe
                    </button>
                  </div>
                </form>
              </div> -->
            </div>
            <div class="mt-16 md:col-span-2 lg:mt-0">
                <div class="md:grid md:grid-cols-3 md:gap-8">
                    <div class="mt-10 md:mt-0">
                        <h3 class="text-xl text-white">About</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            {{ nav:footer_about }}
                            <li>
                                <a
                                    href="{{ url }}"
                                    class="text-gray-400 hover:text-white"
                                    >{{ title }}</a
                                >
                            </li>
                            {{ /nav:footer_about }}
                        </ul>
                    </div>

                    <div>
                        <h3 class="text-xl text-white">Visit</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            {{ nav:footer_visit }}
                            <li>
                                <a
                                    href="{{ url }}"
                                    class="text-gray-400 hover:text-white"
                                    >{{ title }}</a
                                >
                            </li>
                            {{ /nav:footer_visit }}
                        </ul>
                    </div>

                    <div class="mt-10 md:mt-0">
                        <h3 class="text-xl text-white">Education</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            {{ nav:footer_education }}
                            <li>
                                <a
                                    href="{{ url }}"
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    >{{ title }}</a
                                >
                            </li>
                            {{ /nav:footer_education }}
                        </ul>
                    </div>

                    <div>
                        <h3 class="text-xl text-white">Events</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            {{ nav:footer_events }}
                            <li>
                                <a
                                    href="{{ url }}"
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    >{{ title }}</a
                                >
                            </li>
                            {{ /nav:footer_events }}
                        </ul>
                    </div>

                    <div class="mt-10 md:mt-0">
                        <h3 class="text-xl text-white">Artists</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            {{ nav:footer_artists }}
                            <li>
                                <a
                                    href="{{ url }}"
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    >{{ title }}</a
                                >
                            </li>
                            {{ /nav:footer_artists }}
                        </ul>
                    </div>

                    <div>
                        <h3 class="text-xl text-white">Support</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            {{ nav:footer_support }}
                            <li>
                                <a
                                    href="{{ url }}"
                                    class="text-gray-400 hover:text-white"
                                    >{{ title }}</a
                                >
                            </li>
                            {{ /nav:footer_support }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="mt-8 lg:mt-20 text-gray-400 border-t border-white/10 pt-8 md:flex md:items-center md:justify-between"
        >
            <div class="flex items-center justify-center gap-x-6 md:order-2">
                <a
                    href="#"
                    target="_blank"
                    rel="noopener"
                    class="text-gray-400 hover:text-gray-300"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="size-6"
                        viewBox="0 0 512 512"
                    >
                        <path
                            fill="currentColor"
                            d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
                        ></path>
                    </svg>
                </a>

                <a
                    href="#"
                    target="_blank"
                    rel="noopener"
                    class="text-gray-400 hover:text-gray-300"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="size-6"
                        viewBox="0 0 448 512"
                    >
                        <path
                            fill="currentColor"
                            d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                        ></path>
                    </svg>
                </a>

                <a
                    href="#"
                    target="_blank"
                    rel="noopener"
                    class="text-gray-400 hover:text-gray-300"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="size-6"
                        viewBox="0 0 448 512"
                    >
                        <path
                            fill="currentColor"
                            d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
                        ></path>
                    </svg>
                </a>
                <a href="#" class="text-gray-400 hover:text-gray-300">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="size-6"
                        viewBox="0 0 576 512"
                    >
                        <path
                            fill="currentColor"
                            d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z"
                        />
                    </svg>
                </a>
            </div>
            <p
                class="mt-8 px-4 text-center md:text-left text-sm/6 text-gray-400 md:order-1 md:mt-0"
            >
                &copy; 2025 GCCA. All rights reserved.
                <a href="#" class="text-sm/6 text-gray-400 hover:text-gray-300">
                    Privacy Policy
                </a>
                |
                <a href="#" class="text-sm/6 text-gray-400 hover:text-gray-300">
                    Terms of Use
                </a>
            </p>
        </div>
    </div>
</footer>
