<section class="relative bg-white px-[5vw] py-12 md:py-20">
    <h1
        class="text-6xl font-serif mb-8 text-dark-blue border-b border-gray-blue pb-8"
    >
        Upcoming Events
    </h1>

    {{ collection:events sort="start_date_time" as="events" }} {{ if no_results
    }}
    <p class="text-gray-600">
        There are no upcoming events at the moment. Please check back soon.
    </p>
    {{ /if }}

    <ul class="space-y-6 divide-y divide-gray-200">
        {{ events }}
        <li class="bg-white transition py-6">
            <div
                class="grid grid-cols-1 lg:grid-cols-[180px_1fr] gap-4 items-start"
            >
                <div class="flex items-center w-full mb-2 md:mb-0">
                    {{ event_category }}
                    <span
                        class="inline-flex items-center bg-white border border-light-gray text-dark-blue text-xs md:text-sm px-4 py-1.5 rounded-sm"
                    >
                        {{ if title == "Exhibitions" }}
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-4 md:size-6 text-red-400"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42a6.776 6.776 0 0 0-3.42-3.42"
                            />
                        </svg>

                        {{ /if }} {{ if title == "First Friday" }}
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-4 md:size-6 text-red-400"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z"
                            />
                        </svg>

                        {{ /if }} {{ if title == "Reservations" }}
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-4 md:size-6 text-green-400"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"
                            />
                        </svg>

                        {{ /if }} {{ if title == "General Events" }}
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-4 md:size-6 text-blue-400"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                            />
                        </svg>

                        {{ /if }} {{ if title == "ARTalks" }}
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-4 md:size-6 text-yellow-400"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"
                            />
                        </svg>

                        {{ /if }}
                        <span class="ml-2">{{ title }}</span>
                    </span>
                    {{ /event_category }}
                </div>

                <div class="w-full space-y-2">
                    <h2 class="text-4xl font-serif">
                        <a
                            href="{{ url }}"
                            class="text-dark-blue hover:underline"
                            >{{ title }}</a
                        >
                    </h2>

                    <p class="text-lg md:text-xl text-gray-600 uppercase">
                        {{ start_date_time format="F j, Y" }}
                    </p>

                    {{ if !all_day_event }}
                    <p class="text-sm text-gray-500">
                        {{ start_date_time format="g:i A" }}{{ if end_date_time
                        }} – {{ end_date_time format="g:i A" }}{{ /if }}
                    </p>
                    {{ /if }} {{ if location }}
                    <p class="text-sm text-gray-600 mt-1">📍 {{ location }}</p>
                    {{ /if }}
                </div>
            </div>
        </li>
        {{ /events }}
    </ul>
    {{ /collection:events }}
</section>
