<article class="">
    <div class="py-20 mx-[5vw] grid grid-cols-1 md:grid-cols-2 items-center gap-10">
        <div class="inside-hero-text">
            <a
                href="/events"
                class="block text-sm uppercase tracking-wider text-gray-500 mb-4"
                >&larr; Back to Events</a
            >

            <h1 class="text-5xl md:text-7xl mb-8 font-serif font-semibold">{{ title }}</h1>

            <div class="prose flex gap-6 text-gray-600 mb-6">
                <span>
                    📆  &nbsp;{{ start_date_time format="F j, Y" }}
                </span>

                {{ if !all_day_event }}
                <span>
                   🕐 {{ start_date_time format="g:i A" }}{{ if end_date_time }} –
                    {{ end_date_time format="g:i A" }}{{ /if }}
                </span>
                {{ /if }} {{ if location }}
                <span>📍 {{ location }}</span>
                {{ /if }}

                
            </div>
            {{ if content }}
            <div class="prose text-gray-600 mb-6">
                {{ content }}
            </div>
            {{ /if }}

        </div>

        <div class="inside-hero-image">
            {{ featured_image }}
            <img
                src="{{ url }}"
                alt="{{ alt }}"
                class="rounded-lg shadow-lg object-cover w-full h-auto max-h-[400px]"
            />
            {{ /featured_image }}
        </div>
    </div>
    <div class="page-builder">
        {{ blocks }}
            {{ partial:page-builder-blocks/{type} }} 
        {{ /blocks }}
    </div>
</article>
