<article class="py-20 mx-[5vw]">
    <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-10">
        <div class="inside-hero-text">
            <a
                href="/events"
                class="block text-sm uppercase tracking-wider text-gray-500 mb-4"
                >&larr; Back to Events</a
            >

            <h1 class="text-5xl md:text-7xl mb-8 font-serif">{{ title }}</h1>

            <div class="prose max-w-none text-gray-700 mb-6">
                <p class="text-lg md:text-xl text-gray-600 uppercase">
                    {{ start_date_time format="F j, Y" }}
                </p>

                {{ if !all_day_event }}
                <p class="text-sm text-gray-500">
                    {{ start_date_time format="g:i A" }}{{ if end_date_time }} –
                    {{ end_date_time format="g:i A" }}{{ /if }}
                </p>
                {{ /if }} {{ if location }}
                <p class="text-sm text-gray-600">📍 {{ location }}</p>
                {{ /if }}
            </div>
        </div>

        <div class="inside-hero-image">
            {{ featured_image }}
            <img
                src="{{ url }}"
                alt="{{ alt }}"
                class="rounded-lg shadow-lg object-cover w-full h-auto max-h-[400px]"
            />
            {{ /featured_image }}
        </div>
    </div>
    <div class="page-builder">
        {{ content }} {{ blocks }}
        <!-- <p>Block type: {{ type }}</p> -->
        {{ partial:page-builder-blocks/{type} }} {{ /blocks }}
    </div>
</article>
