<section class="py-20 px-4 text-center w-5xl mx-auto">
    <div class="flex justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-auto w-32 text-gcca-red" fill="currentColor" viewBox="0 0 24 24">
        <path d="M7.17 5C5.42 5 4 6.46 4 8.25v.75h3v4H2v-4C2 5.46 4.91 3 7.17 3c.56 0 1.1.11 1.6.29L8.4 5.45C8.02 5.16 7.6 5 7.17 5zm10 0C15.42 5 14 6.46 14 8.25v.75h3v4h-5v-4C12 5.46 14.91 3 17.17 3c.56 0 1.1.11 1.6.29L18.4 5.45C18.02 5.16 17.6 5 17.17 5z"/>
      </svg>
    </div>
  
    {{ if quote }}
      <blockquote class="text-2xl md:text-4xl font-medium text-gray-700 leading-snug mb-6">
        “{{ quote }}”
      </blockquote>
    {{ /if }}
  
    {{ if title }}
      <p class="text-gcca-red font-medium">{{ title }}</p>
    {{ /if }}
  </section>
  