<section class="mt-20 pl-[5vw] pr-[5vw] content-grid-text">
  {{ if content_grid_title || content_grid_text }}
  <div class="mb-12 max-w-2xl">
    {{ if content_grid_title }}
      <h2 class="font-serif sm:text-3xl md:text-5xl font-bold text-gray-900 mb-4">
        {{ content_grid_title }}
      </h2>
    {{ /if }}
    {{ if content_grid_text }}
      <p class="text-base text-gray-700 leading-relaxed">
        {{ content_grid_text }}
      </p>
    {{ /if }}
  </div>
{{ /if }}
</section>
<section class="mb-20 mt-10 pl-[5vw] pr-[5vw] content-grid border-y border-gray-200">

  {{ if content_grid_item }}
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 border-x divide-x divide-y border-gray-200 divide-gray-200">
      {{ content_grid_item }}
        {{ if eyebrow || heading || content }}
          <div class="p-6 flex flex-col h-full grid-item">
            {{ if eyebrow }}
              <p class="text-xs font-semibold uppercase tracking-wider text-gray-500 mb-2">
                {{ eyebrow }}
              </p>
            {{ /if }}

            {{ if heading }}
              <h3 class="text-xl font-semibold mb-3 text-gray-900">
                {{ heading }}
              </h3>
            {{ /if }}

            {{ if content }}
              <div class="text-md text-gray-700 leading-relaxed">
                {{ content }}
              </div>
            {{ /if }}
          </div>
        {{ /if }}
      {{ /content_grid_item }}
    </div>
  {{ /if }}
</section>

  
<style>

.content-grid .grid-item:nth-last-child(-n+1) {
  border-right: 1px solid #ebe6e7;
}

</style>