<section class="big-callout relative w-full overflow-hidden py-24" style="background-color: {{ background_color }};">
  <div class="{{ if width == 'contained' }}max-w-7xl mx-auto{{ else }}w-full{{ /if }}">
    
    <div class="relative
        {{ if image_layout == 'beside_text' }}
          grid grid-cols-1 md:grid-cols-2 items-center
        {{ else }}
          flex flex-col items-center justify-center text-center
        {{ /if }}
        px-8 py-4
      ">

      {{ if image_layout == 'background' and image }}
        <div class="absolute inset-0 -z-10">
          {{ image }}
            {{ if is_image }}
              <img src="{{ url }}" alt="{{ alt }}" class="w-full h-full object-cover rounded-lg" />
            {{ elseif is_video }}
              <video autoplay muted loop playsinline class="w-full h-full object-cover rounded-lg">
                <source src="{{ url }}" type="video/mp4" />
              </video>
            {{ /if }}
          {{ /image }}
          <div class="absolute inset-0 bg-black/40 rounded-lg"></div>
        </div>
      {{ /if }}

      <!-- Text Column -->
      <div class="{{ if image_layout == 'beside_text' }}p-8{{ else }}max-w-2xl{{ /if }}">
        {{ if eyebrow }}
          <p class="text-sm uppercase tracking-widest mb-2 text-white">{{ eyebrow }}</p>
        {{ /if }}

        {{ if heading }}
          <h2 class="text-4xl mb-8 md:text-6xl font-serif font-semibold text-white">
            {{ heading }}
          </h2>
        {{ /if }}

        {{ if content }}
          <div class="prose-lg md:prose-xl prose-invert max-w-none text-white mb-6 font-light">
            {{ content }}
          </div>
        {{ /if }}

        {{ if button_text and button_link }}
          
          <a href="{{ button_link:url }}" class="fancy-button white text-lg font-light relative inline-flex items-center justify-center">
            <div class="btn-icon-arrow h-[48px] w-[48px] flex items-center justify-center relative transition-all duration-200 ease-out">
                <span class="arrow-line w-[14px] h-[1px] rounded-[1px]"></span>
                <svg class="arrow-head h-[12px] absolute top-1/2 transform -translate-y-1/2 right-4" viewBox="0 0 7 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path class="fill" fill-rule="evenodd" clip-rule="evenodd"
                        d="M3.95353 5.4346C4.40326 5.4346 4.62847 4.88717 4.30488 4.57484L0.447099 0.851283C0.243546 0.654813 0.243545 0.328692 0.447098 0.132221V0.132221C0.640709 -0.0546532 0.947532 -0.0546531 1.14114 0.132221L6.85231 5.64468V5.64468C7.0489 5.83444 7.0489 6.14941 6.85231 6.33916V6.33916L1.14114 11.8516C0.947531 12.0385 0.640709 12.0385 0.447098 11.8516V11.8516C0.243545 11.6552 0.243545 11.329 0.447098 11.1326L4.42366 7.29436C4.74725 6.98203 4.52615 6.4346 4.07642 6.4346H3.95187C3.67573 6.4346 3.45187 6.21074 3.45187 5.9346V5.9346C3.45187 5.65846 3.67739 5.4346 3.95353 5.4346V5.4346Z"
                        fill="currentColor">
                    </path>
                </svg>
            </div>
            <span class="text relative transition-all duration-200 ease-out z-1 px-4">
              {{ button_text }}
            </span>
            </a>
            
        {{ /if }}
      </div>

      <!-- Image Column (beside_text only) -->
      {{ if image_layout == 'beside_text' and image }}
        <div class="flex justify-center items-center p-8 w-full">
          {{ image }}
            {{ if is_image }}
              <img src="{{ url }}" alt="{{ alt }}" class="max-h-[400px] w-auto object-cover w-full rounded-md" />
            {{ elseif is_video }}
              <video autoplay muted loop playsinline class="max-h-[400px] w-auto rounded-md">
                <source src="{{ url }}" type="video/mp4" />
              </video>
            {{ /if }}
          {{ /image }}
        </div>
      {{ /if }}

    </div>
  </div>
</section>



  
  
  