<section class="py-20 px-[5vw] {{ if use_second_column }} w-full {{ else }} max-w-4xl mx-auto {{ /if }}">
    
  {{ if section_heading }}

    <div class="section-heading prose mb-4">
      {{ section_heading }}
    </div>

  {{ /if}}

    <div class="{{ if use_second_column }} flex flex-col md:flex-row gap-12 {{ /if }}">

      {{ if use_second_column }}
        <div class="prose grid-content {{ if second_column:second_column_width == 25 }} md:w-1/4 {{ /if }}
        {{ if second_column:second_column_width == 33 }} md:w-1/3 {{ /if }}
        {{ if second_column:second_column_width == 50 }} md:w-1/2 {{ /if }}
        {{ if second_column:second_column_width == 66 }} md:w-2/3 {{ /if }}
        {{ if second_column:second_column_width == 75 }} md:w-3/4 {{ /if }}"
        >
          {{ second_column:second_column_content }}
        </div>
      {{ /if }}

      <div class="faq-accordion space-y-4 {{ if second_column:second_column_width == 25 }} md:w-3/4 {{ /if }}
      {{ if second_column:second_column_width == 33 }} md:w-2/3 {{ /if }}
      {{ if second_column:second_column_width == 50 }} md:w-1/2 {{ /if }}
      {{ if second_column:second_column_width == 66 }} md:w-1/3 {{ /if }}
      {{ if second_column:second_column_width == 75 }} md:w-1/4 {{ /if }}">
        {{ accordion_item }}
          <div class="faq-item border border-gray-300 rounded overflow-hidden">
            <button type="button" class="faq-toggle w-full flex justify-between items-center px-4 py-3 bg-gray-100 hover:bg-gray-200 transition duration-300 text-left">
              <span class="font-medium">{{ accordion_header }}</span>
              <span class="faq-icon transition-transform duration-300">+</span>
            </button>
            <div class="faq-content px-4 py-4 text-gray-700 bg-white hidden">
              {{ accordion_content }}
            </div>
          </div>
        {{ /accordion_item }}
      </div>

    </div>
  </section>
  
  
  <style>
    .faq-content {
      max-height: 500px; /* Adjust if content exceeds this */
      opacity: 1;
      padding-top: 1rem;
      padding-bottom: 1rem;
      transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
  
    .faq-content.hidden {
      display: block; /* Override Tailwind's display: none */
      max-height: 0;
      opacity: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  </style>