{{ if assets_field }}
  {{ assets_field }}
    {{ if is_image }}
      <section class="relative w-full overflow-hidden js-zoom-section">
        <div class="zoom-wrapper relative w-full h-full will-change-transform">
          <img src="{{ url }}" alt="{{ alt }}"
            class="hero-image w-full h-[78vh] max-h-[800px] -z-10 object-cover block overflow-hidden" />
        </div>
      </section>
    {{ elseif is_video }}
      <section class="video-hero w-full h-[70vh] max-h-[450px] md:max-h-auto md:min-h-[820px] relative overflow-hidden">
        <video autoplay muted loop playsinline class="absolute inset-0 w-full h-full object-cover" src="{{ url }}">
          <source src="{{ url }}" type="video/mp4" />
          {{# <source type="video/webm" src="" /> #}}
        </video>
      </section>
    {{ /if }}
  {{ /assets_field }}
{{ /if }}
