<section class="my-8 {{ if !content_group:remove_top_margin }}  md:my-16 {{ else }} md:my-0 {{ /if }} pr-[5vw] pl-[5vw] md:border-y border-gray-200">
  <div class="img-text relative md:items-stretch flex flex-col md:flex-row {{ if image_left_or_right == 'right' }}md:flex-row-reverse{{ /if }} {{ if align_columns == "center" }} items-center {{ /if }} {{ if align_columns == "top" }} items-start {{ /if }} {{ if align_columns == "bottom" }} items-end {{ /if }} flex-col-reverse">
    {{ if image }}
      <div class="w-full md:py-0 py-10 {{ if content_group:content_width == 25 }} md:w-3/4 {{ /if }}
      {{ if content_group:content_width == 33 }} md:w-2/3 {{ /if }}
      {{ if content_group:content_width == 50 }} md:w-1/2 {{ /if }}
      {{ if content_group:content_width == 66 }} md:w-1/3 {{ /if }}
      {{ if content_group:content_width == 75 }} md:w-1/4 {{ /if }} 
        {{ if image_left_or_right == 'right' }}
          md:pl-20 md:pr-[0px]
        {{ else }}
          md:pr-20 md:pl-[0px]
        {{ /if }}
      ">
      <div class="h-full md:py-20 p-0">
        <img src="{{ image:url }}" alt="{{ image:alt }}" class="rounded-sm shadow-lg w-full {{ if constrain_image }} object-cover  md:h-[520px] h-[420px] {{ /if }}" />
      </div>
      </div>
    {{ /if }}

    <div class="w-full md:text-left pb-6 md:py-0 img-text-content {{ if content_group:content_width == 25 }} md:w-1/4 {{ /if }}
    {{ if content_group:content_width == 33 }} md:w-1/3 {{ /if }}
    {{ if content_group:content_width == 50 }} md:w-1/2 {{ /if }}
    {{ if content_group:content_width == 66 }} md:w-2/3 {{ /if }}
    {{ if content_group:content_width == 75 }} md:w-3/4 {{ /if }} 
    {{ if image_left_or_right == 'right' }}
    md:pr-20 md:border-r md:border-gray-200
  {{ else }}
    md:pl-20 md:border-l md:border-gray-200
  {{ /if }}
    ">

    <div class="h-full md:py-20 p-0">
      {{ if content_group:eyebrow }}
        <p class="text-sm uppercase tracking-widest text-gray-500 mb-2">{{ content_group:eyebrow }}</p>
      {{ /if }}

      {{ if content_group:heading }}
        <h2 class="font-serif text-4xl md:text-5xl lg:text-6xl font-semibold mb-6">{{ content_group:heading }}</h2>
      {{ /if }}

      {{ if content_group:content }}
        <div class="prose md:prose-lg max-w-none text-gray-blue font-light mb-6">
          {{ content_group:content }}
        </div>
      {{ /if }}

      {{ if content_group:button_text and content_group:button_link }}
        {{ if content_group:open_in_new_tab }}
          <a href="{{ content_group:button_link:url }}" target="_blank" rel=”noopener noreferrer” class="fancy-button dark-blue relative inline-flex items-center justify-center"
            aria-label="Learn more" type="page">
        {{ else }}
        <a href="{{ content_group:button_link:url }}" class="fancy-button dark-blue relative inline-flex items-center justify-center"
          aria-label="Learn more" type="page">
        {{ /if }}
        <div
            class="btn-icon-arrow h-[48px] w-[48px] flex items-center justify-center relative transition-all duration-200 ease-out">
            <span class="arrow-line w-[14px] h-[1px] rounded-[1px] bg-gcca-red"></span><svg viewBox="0 0 7 12"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                class="arrow-head h-[12px] absolute top-1/2 transform -translate-y-1/2 right-4 text-gcca-red">
                <path class="fill" fill-rule="evenodd" clip-rule="evenodd"
                    d="M3.95353 5.4346C4.40326 5.4346 4.62847 4.88717 4.30488 4.57484L0.447099 0.851283C0.243546 0.654813 0.243545 0.328692 0.447098 0.132221V0.132221C0.640709 -0.0546532 0.947532 -0.0546531 1.14114 0.132221L6.85231 5.64468V5.64468C7.0489 5.83444 7.0489 6.14941 6.85231 6.33916V6.33916L1.14114 11.8516C0.947531 12.0385 0.640709 12.0385 0.447098 11.8516V11.8516C0.243545 11.6552 0.243545 11.329 0.447098 11.1326L4.42366 7.29436C4.74725 6.98203 4.52615 6.4346 4.07642 6.4346H3.95187C3.67573 6.4346 3.45187 6.21074 3.45187 5.9346V5.9346C3.45187 5.65846 3.67739 5.4346 3.95353 5.4346V5.4346Z"
                    fill="currentColor"></path>
            </svg>
        </div>
        <span class="text md:text-[22px] relative transition-all duration-200 ease-out z-1 px-4 text-white">
          {{ content_group:button_text }}
        </span>
      </a>
      {{ /if }}

      </div>
    </div>
  </div>
</section>
 

<style>
  .img-text-content li,
  .img-text-content li p {
    margin-bottom: 0;
    margin-top: 5px;
  }
  .img-text-content li::marker {
    color: #000;
  }

</style>