<section class="pb-20 pt-12 mr-[5vw] ml-[5vw]">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 border-t border-l border-gray-200">
        {{ people }}
          <div class="border-b border-r border-gray-300 p-14 flex flex-col">
            {{ if headshot }}
              <img src="{{ headshot:url }}" alt="{{ headshot:alt }}" class="w-full h-100 object-cover object-top mb-4" />
            {{ /if }}
  
            {{ if name }}
              <h3 class="font-serif text-4xl font-semibold">{{ name }}</h3>
            {{ /if }}
  
            {{ if title }}
              <p class="text-lg text-gray-600 mt-3">{{ title }}</p>
            {{ /if }}
          </div>
        {{ /people }}
      </div>
  </section>
  